@value primary, white, green, green-active from '../constants/color.css';

.baseBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.8rem;
  font-weight: 700;
  border-radius: 0.4rem;
}

.baseBtn:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

/* NOTE: Button styles */
.primaryBtn {
  color: white;
  background-color: green;
  transition: background-color 300ms ease-in-out;
}

.primaryBtn:not(:disabled):hover {
  background-color: green-active;
}

.ghostBtn {
  color: primary;
  background-color: transparent;
  transition: opacity 300ms ease-in-out;
}

.ghostBtn:not(:disabled):hover {
  opacity: 0.4;
}
