@value primary, white, background, green from '../constants/color.css';

@value dark-primary from '../constants/dark-theme.css';

@value font-size-16,line-height-16, letter-spacing-16, font-size-18, line-height-18,letter-spacing-18 from '../constants/typography.css';

.articleGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.articleLeft {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.benner {
  width: 100%;
}

.work {
  width: 100%;
}

.member {
  flex-shrink: 0;
  width: 100%;
}

.articleTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 -15px;
  padding: 0 1.2rem;
  height: 6.4rem;
}

.articleTitle h2 {
  font-size: font-size-16;
  line-height: line-height-16;
  letter-spacing: letter-spacing-16;
  color: primary;
}

.articleTitle strong {
  margin-left: 0.8rem;
  font-size: font-size-16;
  line-height: line-height-16;
  letter-spacing: letter-spacing-16;
  color: green;
}

@media screen and (min-width: 768px) {
  .benner {
    width: 60%;
  }

  .work {
    width: 40%;
    padding: 0 1rem;
  }

  .articleLeft {
    margin-bottom: 3.6rem;
  }

  .articleTitle {
    margin: 0;
    padding: 0;
    height: auto;
  }

  .articleTitle h2 {
    font-size: font-size-18;
    line-height: line-height-18;
    letter-spacing: letter-spacing-18;
  }

  .articleTitle strong {
    font-size: font-size-18;
    line-height: line-height-18;
    letter-spacing: letter-spacing-18;
  }
}

/* NOTE: Dark theme */
.articleGroup.isDark .articleTitle h2 {
  color: dark-primary;
}
