
@value font-size-24,line-height-24, letter-spacing-24, font-size-14,line-height-14, letter-spacing-14 from '../constants/typography.css';

.wrapper {
  background-color: gray;
  height: 100vh;
}

.box {
  position: absolute;
  left: 50%;
  top: 50%;
  display: flex;
  width: 72em;
  
  background-color: #fff;
  transform: translate(-50%, -50%);
  border-radius: 0.8rem;
}

.box > div:first-child {
  position: relative;
  padding: 2rem;
  width: 50%;
}

.box div:first-child img {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  margin:0 auto;
  transform: translate(-50%, -50%);
}

.box > div:last-child  {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 50%;
}

.form h3 {
  margin-bottom: 1.8rem;
  font-size: font-size-24;
  line-height: line-height-24;
  letter-spacing: letter-spacing-24;
  text-align: center;
  font-weight: 400;
}

.form input {
  height: 3.2rem;
  border-bottom: 1px solid #d4d4d4;
  padding: 0.4rem;
  margin-bottom: 2rem;
}

.form

.easyLogin {
  margin-top: 2rem;
  font-size: font-size-14;
  line-height: line-height-14;
  letter-spacing: letter-spacing-14;
  text-align: center;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.authBtn {
  flex: 1 1 auto;
  font-size: 1.6rem;
  font-weight: 400;
}

.authBtn span {
  margin-left: 6px;
}

.authBtn:hover {
  opacity: 0.4;
}