@value primary, secondary, white, light-background, background, green, green-active from '../constants/color.css';

@value dark-primary, dark-secondary, dark-light-background, dark-background from '../constants/dark-theme.css';

@value font-size-12, line-height-12, letter-spacing-12, font-size-14,line-height-14, letter-spacing-14, font-size-16, line-height-16,letter-spacing-16 from '../constants/typography.css';

.renderer * {
  margin: revert;
  color: primary;
}

.renderer img {
  display: block;
  max-width: 100%;
  height: auto;
}

.renderer ul,
.renderer ol {
  padding-left: revert;
  list-style: revert;
}

.renderer blockquote {
  margin: 8px 0;
  padding: 2px 8px;
  background-color: background;
  border-radius: 6px;
}

.renderer table {
  margin: 8px 0;
  width: 100%;
  border: 1px solid secondary;
  border-collapse: collapse;
  table-layout: fixed;
  word-wrap: break-word;
}

.renderer th,
.renderer td {
  border: 1px solid secondary;
}

.renderer a {
  color: green;
}

.renderer a:active {
  color: green-active;
}

.renderer pre {
  background-color: light-background;
  padding: 12px;
  border-radius: 4px;
  white-space: break-spaces;
}

/* NOTE: Dark theme */
.renderer.isDark * {
  color: dark-primary;
}

.renderer.isDark blockquote {
  background-color: dark-light-background;
}

.renderer.isDark pre {
  background-color: dark-light-background;
}

.renderer.isDark a {
  color: green;
}

@media screen and (min-width: 768px) {
  .renderer a:hover {
    opacity: 0.4;
  }
}
