@value primary, secondary, white, light-background, yellow, blue, login, login-border, logout, logout-border from '../constants/color.css';

@value dark-primary, dark-secondary, dark-light-background from '../constants/dark-theme.css';

@value font-size-16,line-height-16, letter-spacing-16, font-size-18, line-height-18,letter-spacing-18 from '../constants/typography.css';

@value card-shadow from '../constants/box-shadow.css';

.memberList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  border-radius: 2.2rem;
}

.meberItem {
  margin-bottom: 1rem;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  margin-right: 0.8rem;
  padding: 2.2rem;
  background-color: white;
  border-radius: 0.8rem;
  transition: box-shadow 300ms ease-in-out, transform 300ms ease-in-out;
}

.card:active {
  box-shadow: card-shadow;
  transform: translate3d(0px, -0.4rem, 0px);
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 4.2rem;
}

.dot {
  margin-right: 0.8rem;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
}

.dot.online {
  background-color: login;
  border: 0.2rem solid login-border;
}

.dot.offline {
  background-color: logout;
  border: 0.2rem solid logout-border;
}

.cardHeader span {
  font-size: font-size-16;
  line-height: line-height-16;
  letter-spacing: letter-spacing-16;
  color: primary;
}

.loginTime {
  font-size: font-size-16;
  line-height: line-height-16;
  letter-spacing: letter-spacing-16;
  color: secondary;
}

.cardContents {
  position: relative;
  margin: 0 -2.2rem;
  padding: 6.4rem 2.2rem 2.2rem;
}

.cardContents.isGray {
  background-color: light-background;
}

.cardContents.isYellow {
  background-color: yellow;
}

.cardContents.isBlue {
  background-color: blue;
}

.profile {
  position: absolute;
  top: -2.4rem;
  left: 2.2rem;
  border-radius: 2rem;
}

.profile img {
  width: 7rem;
  height: 7rem;
  border-radius: 2rem;
  object-fit: cover;
}

.authName,
.authMsg {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.authName {
  display: block;
  font-size: font-size-18;
  line-height: line-height-18;
  letter-spacing: letter-spacing-18;
  color: primary;
}

.authMsg {
  font-size: font-size-16;
  line-height: line-height-16;
  letter-spacing: letter-spacing-16;
  color: primary;
}

.cardFooter {
  margin-top: 2.2rem;
}

.authDetailItem {
  display: flex;
}

.title,
.description {
  font-size: font-size-16;
  line-height: line-height-16;
  letter-spacing: letter-spacing-16;
}

.title {
  flex-basis: 40%;
  color: secondary;
}

.description {
  flex-grow: 1;
  color: primary;
}

/* NOTE: Dark theme */
.memberList.isDark .card {
  background-color: dark-light-background;
}

.memberList.isDark .cardHeader span {
  color: dark-primary;
}

.memberList.isDark .title {
  color: dark-secondary;
}

.memberList.isDark .description {
  color: dark-primary;
}

@media screen and (min-width: 768px) {
  .memberList {
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem;
  }

  .card:hover {
    box-shadow: card-shadow;
    transform: translate3d(0px, -0.4rem, 0px);
  }

  .meberItem {
    width: calc(100% / 2);
  }
}
