@value background from '../constants/color.css';
.isClose {
  position: absolute;
  opacity: 0;
  transform: scale(0);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

.isOpen {
  position: relative;
  opacity: 1;
  transform: none;
}

.article {
  padding: 24px;
  height: 100%;
  background-color: background;
  border-radius: 24px;
  overflow-y: auto;
}

.article::-webkit-scrollbar {
  display: none !important;
}
