@value primary, secondary, white, light-background, yellow, blue, login, logout from '../constants/color.css';

@value dark-primary, dark-secondary, dark-light-background from '../constants/dark-theme.css';

@value font-size-14,line-height-14, letter-spacing-14, font-size-18, line-height-18,letter-spacing-18 from '../constants/typography.css';

@value card-shadow from '../constants/box-shadow.css';

.teamListWrapper {
  overflow: hidden;
  position: relative;
}

.teamList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  width: 100%;
  overflow-x: scroll;
}

.teamList::-webkit-scrollbar {
  display: none;
}

.teamItem {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 8px;
  height: 160px;
  margin: 0 10px;
  width: 240px;
  flex-shrink: 0;
  background-color: white;
  border-radius: 4px;
  transition: box-shadow 300ms ease-in-out, transform 300ms ease-in-out;
}

.teamItem:active {
  box-shadow: card-shadow;
  transform: translate3d(0px, -0.25rem, 0px);
}

.itemTop {
  margin: 0 -8px;
  display: flex;
  padding: 8px 0;
  justify-content: center;
  margin-bottom: 12px;
}

.imgWrapper {
  position: relative;
}

.teamCardImg {
  border-radius: 50%;
  overflow: hidden;
}

.teamCardImg img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.itemTop.isGray {
  background-color: light-background;
}

.itemTop.isYellow {
  background-color: yellow;
}

.itemTop.isBlue {
  background-color: blue;
}

.dot {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 20px;
  border: 3px solid white;
  border-radius: 50%;
}

.dot.online {
  background-color: login;
}

.dot.offline {
  background-color: logout;
}

.teamCardInfo {
  text-align: center;
}

.userName {
  font-size: font-size-18;
  line-height: line-height-18;
  letter-spacing: letter-spacing-18;
  color: primary;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.userTeam,
.userRank {
  font-size: font-size-14;
  line-height: line-height-14;
  letter-spacing: letter-spacing-14;
  color: secondary;
}

.userTeam::after {
  margin: 0 2px;
  content: '/';
}

/* NOTE: Dark theme */
.teamList.isDark .teamItem {
  background-color: dark-light-background;
}

.teamList.isDark .userName {
  color: dark-primary;
}

.teamList.isDark .teamItem {
  background-color: dark-light-background;
}

.teamList.isDark .userTeam,
.teamList.isDark .userRank {
  color: dark-secondary;
}

@media screen and (min-width: 768px) {
  .teamListWrapper {
    position: relative;
  }

  .teamList {
    flex-direction: row;
    overflow-x: auto;
  }

  .teamList::-webkit-scrollbar {
    display: none;
  }

  .moveBtn {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 48px;
    height: 48px;
    color: secondary;
    border-radius: 4px;
    transform: translateY(-50%);
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
  }

  .moveBtn.prevBtn {
    left: 0;
  }

  .moveBtn.nextBtn {
    right: 0;
  }

  .moveBtn:hover {
    color: primary;
    background-color: light-background;
  }

  .teamItem:hover {
    box-shadow: card-shadow;
    transform: translate3d(0px, -0.25rem, 0px);
  }
}
