@value primary, secondary, white, light-background, background, green from '../constants/color.css';

@value dark-primary, dark-secondary, dark-light-background, dark-background from '../constants/dark-theme.css';

@value font-size-14, line-height-14, letter-spacing-14, font-size-16, line-height-16, letter-spacing-16, font-size-24, line-height-24, letter-spacing-24  from '../constants/typography.css';

.workGroup {
  height: 100%;
  overflow-y: auto;
}

.workGroup::-webkit-scrollbar {
  display: none;
}

.workGroup .header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.4rem;
}

.header h1 {
  font-size: font-size-16;
  line-height: line-height-16;
  letter-spacing: letter-spacing-16;
  color: primary;
}

.openBtn svg {
  font-size: 1.8rem;
  margin-right: 0.8rem;
}

.toolTip {
  position: absolute;
  top: 1.2rem;
  right: 5.8rem;
  padding: 0.2rem 1rem;
  background-color: light-background;
  font-size: font-size-14;
  line-height: line-height-14;
  letter-spacing: letter-spacing-14;
  color: primary;
  font-weight: 700;
  border-radius: 0.6rem;
}

.toolTip::after {
  position: absolute;
  top: 0.4rem;
  right: -1.4rem;
  margin-left: -0.8rem;
  border-width: 0.8rem;
  border-style: solid;
  border-color: transparent transparent transparent light-background;
  content: '';
}

.editor {
  background-color: white;
  border: 0.1rem solid background;
  border-radius: 0.4rem;
}

.editorHeader {
  background-color: light-background;
  padding: 0.8rem 1.2rem;
  border-bottom: 0.1rem solid background;
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
}

.editorHeader h2 {
  font-size: font-size-14;
  line-height: line-height-14;
  letter-spacing: letter-spacing-14;
  color: primary;
  font-weight: 400;
}

.form {
  padding: 1.2rem;
}

.inputGroup {
  margin-bottom: 0.8rem;
}

.inputGroup input,
.inputGroup textarea {
  width: 100%;
  padding: 0.8rem;
  font-size: font-size-16;
  line-height: line-height-16;
  letter-spacing: letter-spacing-16;
  color: primary;
  border: 0.1rem solid background;
  border-radius: 0.4rem;
}

.inputGroup input {
  height: 3.2rem;
}

.inputGroup textarea {
  height: 12rem;
}

.inputGroup textarea::-webkit-scrollbar {
  display: none;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.8rem 1.2rem;
}

.previewBtn,
.editorBtn {
  height: 3.6rem;
}

.previewBtn {
  margin-right: 0.8rem;
}

.editorBtn {
  width: 8rem;
}

.preview {
  margin-top: 2.4rem;
}

/* NOTE: Dark theme */
.workGroup.isDark .header h1 {
  color: dark-primary;
}

.workGroup.isDark .openBtn svg {
  color: dark-secondary;
}

.workGroup.isDark .editorHeader {
  background-color: dark-light-background;
  border-bottom: none;
}

.workGroup.isDark .editorHeader h2 {
  color: dark-primary;
}

.workGroup.isDark .editor {
  background-color: dark-light-background;
  border: none;
  border-radius: 0.4rem;
}

.workGroup.isDark input,
.workGroup.isDark textarea {
  color: dark-primary;
  background-color: dark-background;
  border: none;
}

.workGroup.isDark .previewBtn {
  color: dark-secondary;
}

@media screen and (min-width: 768px) {
  .header h1 {
    font-size: font-size-24;
    line-height: line-height-24;
    letter-spacing: letter-spacing-24;
  }
}
