@value primary, secondary, white, light-background, background, green from '../constants/color.css';

@value font-size-14, line-height-14, letter-spacing-14, font-size-16, line-height-16, letter-spacing-16 from '../constants/typography.css';

.workWrapper {
  position: relative;
  height: 100%;
  overflow-y: auto;
}

.workWrapper::-webkit-scrollbar {
  display: none;
}

.workWrapper .header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  color: primary;
}

.openBtn svg {
  padding: 12px;
  width: 48px;
  height: 48px;
  color: secondary;
}

.toolTip {
  position: absolute;
  top: 26px;
  right: 58px;
  padding: 2px 10px;
  background-color: green;
  font-size: font-size-14;
  line-height: line-height-14;
  letter-spacing: letter-spacing-14;
  color: white;
  font-weight: 700;
  border-radius: 6px;
}

.toolTip::after {
  position: absolute;
  top: 4px;
  right: -14px;
  margin-left: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent green;
  content: '';
}

.editor {
  background-color: white;
  border: 1px solid background;
  border-radius: 4px;
}

.editorHeader {
  background-color: light-background;
  padding: 8px 12px;
  border-bottom: 1px solid background;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.editorHeader h2 {
  font-size: font-size-14;
  line-height: line-height-14;
  letter-spacing: letter-spacing-14;
  color: primary;
  font-weight: 400;
}

.form {
  padding: 12px;
}

.inputGroup {
  margin-bottom: 8px;
}

.inputGroup input,
.inputGroup textarea {
  width: 100%;
  padding: 8px;
  font-size: font-size-16;
  line-height: line-height-16;
  letter-spacing: letter-spacing-16;
  color: primary;
  border: 1px solid background;
  border-radius: 4px;
}

.inputGroup input {
  height: 32px;
}

.inputGroup textarea {
  height: 120px;
}

.inputGroup textarea::-webkit-scrollbar {
  display: none;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 12px;
}

.previewBtn,
.editorBtn {
  height: 36px;
}

.previewBtn {
  margin-right: 8px;
}

.editorBtn {
  width: 80px;
}

.preview {
  margin-top: 24px;
}
