@value primary, secondary, white, background, green, red, dark-yellow from '../constants/color.css';

@value dark-primary, dark-secondary, dark-light-background from '../constants/dark-theme.css';

@value font-size-16, line-height-16, letter-spacing-16 from '../constants/typography.css';

@value card-shadow from '../constants/box-shadow.css';

/* NOTE: home section */
.workLinkList {
  overflow-y: scroll;
}

.workLinkList::-webkit-scrollbar {
  display: none;
}

.workLinkList .workItem a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.8rem 0;
  padding: 0 0.8rem;
  width: 100%;
  height: 5rem;
  font-size: font-size-16;
  line-height: line-height-16;
  letter-spacing: letter-spacing-16;
  color: primary;
  border: 0.1rem solid background;
  border-radius: 0.8rem;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.workLinkList .workItem a:active {
  background-color: green;
  color: white;
}

.workLinkList .workItem a.lsitNone {
  justify-content: center;
  width: 18rem;
  margin: 0 auto;
}

.workLinkList .lsitNone {
  margin: 1.2rem 0;
  font-size: font-size-16;
  line-height: line-height-16;
  letter-spacing: letter-spacing-16;
  color: primary;
  text-align: center;
}

/* NOTEl Dark theme */
.workLinkList.isDark .workItem a {
  color: dark-primary;
  background-color: dark-light-background;
  border: none;
}

.workLinkList.isDark .workItem a:active {
  background-color: green;
  color: white;
}

@media screen and (min-width: 768px) {
 

  .workLinkList .workItem a:hover {
    background-color: green;
    color: white;
  }

  .workLinkList.isDark .workItem a:hover {
    background-color: green;
    color: dark-primary;
  }
}



/* NOTE: work section */
.workList {
  position: relative;
}

.openBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem;
  height: 5rem;
  margin: 0.6rem 0;
  border: 0.1rem solid background;
  border-radius: 0.4rem;
  width: 100%;
  transition: box-shadow 300ms ease-in-out, transform 300ms ease-in-out;
}

.openBtn:active {
  transform: translate3d(0px, -0.4rem, 0px);
  box-shadow: card-shadow;
}

.title {
  font-size: 1.8rem;
  color: primary;
  font-weight: 400;
}

.date {
  color: secondary;
  font-size: 1.4rem;
  font-weight: 400;
}

.workItemContents {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out;
}

.workItemContents.isOpen {
  max-height: 100%;
  opacity: 1;
  pointer-events: all;
}

.contentsLeft {
  width: 80%;
}

.contentsLeft textarea {
  width: 100%;
  height: 30rem;
}

.contentsLeft textarea {
  width: 100%;
  height: 30rem;
}

.contentsLeft textarea::-webkit-scrollbar {
  display: none;
}

.contentsRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
}

.toolBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: secondary;
  margin-bottom: 0.4rem;
  width: 100%;
  transition: color 300ms ease-in-out;
}

.toolBtn.editBtn:active,
.toolBtn.editBtn.isActive {
  color: dark-yellow;
}

.toolBtn.removeBtn:active {
  color: red;
}

.toolBtn svg {
  display: block;
  width: 4.8rem;
  height: 4.8rem;
  padding: 1.4rem;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.closeBtn {
  height: 4.8rem;
}

/* NOTE: Dark theme */
.workList.isDark .openBtn {
  background-color: dark-light-background;
  border: none;
}

.workList.isDark .title {
  color: dark-primary;
}

.workList.isDark .date,
.workList.isDark .closeBtn {
  color: dark-secondary;
}

@media screen and (min-width: 768px) {
  .workList {
    padding: 0 1rem;
  }

  .contentsLeft {
    width: 90%;
  }

  .contentsRight {
    width: 10%;
  }

  .openBtn:hover {
    transform: translate3d(0px, -0.4rem, 0px);
    box-shadow: card-shadow;
  }

  .toolBtn.editBtn:hover {
    color: dark-yellow;
  }

  .toolBtn.removeBtn:hover {
    color: red;
  }
}
