@value overlay-black, primary, secondary, white, logout, light-background ,background,  green, green-active  from '../constants/color.css';

@value dark-primary, dark-secondary, dark-background, dark-light-background from '../constants/dark-theme.css';

@value overlay-level, popup-level, sidebar-level from '../constants/z-index.css';

@value font-size-14,line-height-14,letter-spacing-14, font-size-16,line-height-16,letter-spacing-16, font-size-24, line-height-24, letter-spacing-24 from '../constants/typography.css';

@value dropdown-shadow, popup-shadow from '../constants/box-shadow.css';

/* NOTE: overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: overlay-level;
  width: 100%;
  height: 100vh;
  background-color: overlay-black;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

.overlay.isActive {
  opacity: 1;
  visibility: visible;
}

/* NOTE: auth, msg popup */
.authPopup,
.msgPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 26em;
  padding: 2.4em;
  background-color: white;
  border-radius: 0.4em;
  z-index: popup-level;
  box-shadow: popup-shadow;
  opacity: 0;
  visibility: hidden;
  transform-origin: left top;
  transform: scale(0.8) translate(-50%, -50%);
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out,
    transform 300ms ease-in-out;
}

.authPopup.isActive,
.msgPopup.isActive {
  opacity: 1;
  visibility: visible;
  transform: scale(1) translate(-50%, -50%);
}

.popupBody {
  width: 100%;
  margin: 1.2em 0;
  text-align: center;
}

.popupTitle,
.msgPopup .title {
  font-size: font-size-24;
  line-height: line-height-24;
  letter-spacing: letter-spacing-24;
}

.popupTitle {
  font-weight: 400;
  color: primary;
}

.msgPopup .title {
  color: green;
}

.msgPopup .desc {
  font-size: font-size-16;
  line-height: line-height-16;
  letter-spacing: letter-spacing-16;
  color: secondary;
}

.authBtn {
  width: 100%;
  height: 4.8rem;
  background-color: white;
  font-size: font-size-16;
  line-height: line-height-16;
  letter-spacing: letter-spacing-16;
  font-weight: 400;
  color: primary;
  transition: color 300ms ease-in-out, box-shadow 300ms ease-in-out;
}

.authBtn:not(:last-child) {
  margin-bottom: 0.8em;
}

.authBtn:active {
  color: green-active;
}

.authLogo {
  margin-right: 8px;
  font-size: font-size-24;
  line-height: line-height-24;
  letter-spacing: letter-spacing-24;
  color: primary;
}

.msgPopup .popupHeader svg {
  display: block;
  width: 4.2rem;
  height: 4.2rem;
  color: green;
}

.popupFooter {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}

.cancleBtn,
.closeBtn {
  height: 3.2em;
  font-size: font-size-14;
  line-height: line-height-14;
  letter-spacing: letter-spacing-14;
}

@media screen and (min-width: 768px) {
  .authPopup,
  .msgPopup {
    width: 36em;
  }

  .authBtn:hover {
    box-shadow: dropdown-shadow;
  }
}

/* NOTE: MyMenu */
.myMenuList {
  width: 100%;
  max-height: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  transition: max-height 300ms ease-in-out, opacity 300ms ease-in-out,
    padding 300ms ease-in-out;
}

.myMenu.isActive .myMenuList {
  max-height: 19.8rem;
  padding: 0.8rem;
  opacity: 1;
  pointer-events: all;
}

a.toolBtn,
button.toolBtn {
  margin: 0.8rem 0;
  padding: 0 1.2rem;
  width: 100%;
  height: 5rem;
  font-size: font-size-14;
  line-height: line-height-14;
  letter-spacing: letter-spacing-14;
  color: primary;
  border-radius: 2.2rem;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.toolBtn:hover,
.toolBtn:active {
  color: green;
  box-shadow: dropdown-shadow;
}

.logoutBtn:hover,
.logoutBtn:active {
  color: logout;
}

.toolIcon {
  width: 2.4rem;
  height: 2.4rem;
}

button.mymemuBtn {
  width: 100%;
  height: 6rem;
  border-radius: 2.2rem;
  background-color: light-background;
  transition: box-shadow 300ms ease-in-out;
}

.mymemuBtn .userIcon {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: cover;
}

.mymemuBtn span {
  font-size: font-size-16;
  line-height: line-height-16;
  letter-spacing: letter-spacing-16;
  color: secondary;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mymemuBtn span.isActive {
  color: primary;
}

.mymemuBtn:hover {
  box-shadow: dropdown-shadow;
}

@media screen and (min-width: 1200px) {
  a.toolBtn,
  button.toolBtn,
  button.mymemuBtn {
    justify-content: flex-start;
    padding: 0 1.2rem;
    border-radius: 0.4rem;
  }

  .mymemuBtn .userIcon {
    margin-right: 0.8rem;
  }

  .toolIcon {
    margin-right: 1.2rem;
  }

  .toolBtn:hover {
    background-color: background;
    box-shadow: dropdown-shadow;
  }

  .toolBtn:not(.logoutBtn):hover {
    color: green;
  }
}

/* NOTE: Dark Mymenu */
.myMenu.isDark a.toolBtn,
.myMenu.isDark button.toolBtn {
  color: dark-secondary;
}

.myMenu.isDark .toolBtn:hover {
  background-color: dark-light-background;
  box-shadow: dropdown-shadow;
}

.myMenu.isDark .toolBtn:not(.logoutBtn):hover {
  color: green;
}

.myMenu.isDark .logoutBtn:hover,
.myMenu.isDark .logoutBtn:active {
  color: logout;
}

.myMenu.isDark button.mymemuBtn {
  background-color: dark-light-background;
}

.myMenu.isDark .mymemuBtn span {
  color: dark-secondary;
}

.myMenu.isDark .mymemuBtn span.isActive {
  color: dark-primary;
}

/* NOTE: Loding spinner */
.lodingBackGround {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.lodingSmall {
  margin: 0 0 16px;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  border: 0.3rem solid background;
  border-top: 0.3rem solid green;
  animation: spin 2s linear infinite;
}

.lodingMiddle {
  width: 5rem;
  height: 5rem;
  border: 0.6rem solid background;
  border-top: 0.6rem solid green;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* NOTE: mobile sidebar */
.sideBar {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: normal;
  padding: 1.6rem;
  width: 60%;
  height: 100vh;
  background-color: #fff;
  z-index: sidebar-level;
  transform: translate3d(-100%, 0, 0);
  transition: transform 300ms ease-in-out;
}

.sideBar.isActive {
  transform: none;
}

.detailList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailItem {
  margin-right: 1.2rem;
}

.detailItem dd,
.detailItem button {
  font-size: font-size-14;
  line-height: line-height-14;
  letter-spacing: letter-spacing-14;
  color: secondary;
  height: 4.8rem;
}

.detailItem dd {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailItem button:active {
  opacity: 0.4;
}

/* NOTE: Dark theme */
.sideBar.isDark {
  background-color: dark-light-background;
}

.sideBar.isDark .toolBtn {
  color: dark-secondary;
}

.sideBar.isDark .toolBtn:active {
  color: green;
}

.sideBar.isDark .logoutBtn:active {
  color: logout;
}

.sideBar.isDark .detailItem dd,
.sideBar.isDark .detailItem button {
  color: dark-secondary;
}
