@value primary, secondary, light-background, login, logout from '../constants/color.css';

@value dark-primary, dark-secondary, dark-light-background from '../constants/dark-theme.css';

@value font-size-14, line-height-14, letter-spacing-14, font-size-16, line-height-16, letter-spacing-16, font-size-18,line-height-18,letter-spacing-18 from '../constants/typography.css';

.detailGroup {
  position: relative;
  height: 100%;
  overflow-y: auto;
}



.infoGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2rem 0;
}

.header .pageTitle {
  margin-bottom: 3.8rem;
  font-size: font-size-18;
  line-height: line-height-18;
  letter-spacing: letter-spacing-18;
  color: primary;
}

.imgWrapper {
  margin-right: 2em;
  width: 16rem;
  border-radius: 22px;
  overflow: hidden;
}

.imgWrapper img {
  width: 100%;
  object-fit: cover;
}

.userInfoList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.userInfoItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0.8rem;
}

.userInfoItem.msg {
  margin-right: 0;
}

.userInfoItem dt,
.userInfoItem dd {
  font-size: font-size-16;
  line-height: line-height-16;
  letter-spacing: letter-spacing-16;
}

.userInfoItem dt {
  margin-right: 0.8rem;
  color: secondary;
}

.userInfoItem.msg dt {
  margin-bottom: 0.8rem;
}

.userInfoItem dd {
  color: primary;
  white-space: pre;
}

.msgBox {
  width: 100%;
  min-height: 18em;
  padding: 0.8rem;
  background-color: light-background;
  border-radius: 0.4rem;
}

.loginState {
  font-size: font-size-16;
  line-height: line-height-16;
  letter-spacing: letter-spacing-16;
}

.loginState.isLogin {
  color: login;
}

.loginState.isOffline {
  color: logout;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.returnBtn {
  width: 12rem;
  height: 3.6rem;
  font-size: font-size-16;
  line-height: line-height-16;
  letter-spacing: letter-spacing-16;
}

/* NOTE: Dark theme */
.detailGroup.isDark .header .pageTitle {
  color: dark-primary;
}

.detailGroup.isDark .userInfoItem dt {
  color: dark-secondary;
}

.detailGroup.isDark .userInfoItem dd {
  color: dark-primary;
}

.detailGroup.isDark .msgBox {
  background-color: dark-light-background;
}

.detailGroup.isDark .returnBtn {
  color: dark-secondary;
}

@media screen and (min-width: 768px) {
  .infoGroup {
    flex-direction: row;
  }
}
