@value white, primary, background, green, logout from '../constants/color.css';

@value dark-primary, dark-secondary, dark-light-background from '../constants/dark-theme.css';

@value font-size-14, line-height-14, letter-spacing-14, font-size-16,line-height-16,letter-spacing-16 from '../constants/typography.css';

.authForm {
  display: flex;
  flex-direction: column;
  padding: 2.4rem 0;
  height: 100%;
}

.profileBtn {
  margin-bottom: 1.6rem;
  width: 15rem;
  height: 3.2rem;
  font-size: font-size-16;
  line-height: line-height-16;
  letter-spacing: letter-spacing-16;
  cursor: pointer;
}

.profileBtn.isSucceed {
  color: green;
}

.profileBtn.isEmpty {
  color: primary;
}

.profileBtn svg {
  display: block;
  margin-right: 0.8rem;
  flex-shrink: 0;
}

.profileBtn span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

input[type='file'] {
  display: none;
}

.formLabel {
  margin-bottom: 0.8rem;
  font-size: font-size-16;
  line-height: line-height-16;
  letter-spacing: letter-spacing-16;
  color: primary;
}

.authFormInput {
  margin-bottom: 1rem;
  padding: 0 1rem;
  height: 3.8rem;
  background: white;
  font-size: font-size-14;
  line-height: line-height-14;
  letter-spacing: letter-spacing-14;
  color: primary;
  border-radius: 4px;
  border: 0.2rem solid background;
}

.authFormInput.isError {
  border-color: logout;
}

.typeBtnList {
  display: flex;
  flex-direction: column;
}

.typeBtnItem {
  flex-grow: 1;
}

.typeBtn {
  width: 100%;
  font-size: font-size-14;
  line-height: line-height-14;
  letter-spacing: letter-spacing-14;
  color: primary;
}

.submitBtn {
  width: 18rem;
  height: 4.2rem;
  align-self: center;
}

.removeBtn {
  align-self: flex-end;
  color: logout;
  height: 4.4rem;
}

.errorText {
  font-size: font-size-14;
  line-height: line-height-14;
  letter-spacing: letter-spacing-14;
  color: logout;
  text-align: right;
  font-weight: 400;
}

/* NOTE: Dark theme */
.authForm.isDark .profileBtn.isEmpty {
  color: dark-primary;
}

.authForm.isDark .authFormInput {
  color: dark-primary;
  background-color: dark-light-background;
  border: none;
}

.authForm.isDark .formLabel {
  color: dark-secondary;
}

@media screen and (min-width: 768px) {
  .typeBtnList {
    flex-direction: row;
  }
}
