@value primary, secondary, white, background from '../constants/color.css';

@value dark-primary, dark-secondary, dark-light-background from '../constants/dark-theme.css';

@value font-size-16,line-height-16, letter-spacing-16 from '../constants/typography.css';

.memberGroup {
  position: relative;
  height: 100%;
  overflow-y: auto;
}

.memberGroup::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1.2rem;
}

.serchInput {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 2.6rem;
  color: primary;
  padding: 0.8rem 0.4rem;
}

.serchInput::after {
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: background;
  content: '';
}

.serchInput svg {
  font-size: 1.8rem;
  color: secondary;
}

.serchInput input {
  margin-left: 0.2rem;
  font-size: font-size-16;
  line-height: line-height-16;
  letter-spacing: letter-spacing-16;
  color: primary;
}

/* NOTE: Dark theme */
.memberGroup.isDark .serchInput {
  color: dark-primary;
}

.memberGroup.isDark .serchInput::after {
  background-color: dark-light-background;
}

.memberGroup.isDark .serchInput svg {
  color: dark-secondary;
}

.memberGroup.isDark .serchInput input {
  color: dark-primary;
}
