@value primary, secondary, white, background, green, green-active from '../constants/color.css';

@value dark-primary, dark-secondary, dark-background, dark-light-background from '../constants/dark-theme.css';

@value font-size-12, line-height-12, letter-spacing-12, font-size-16, line-height-16, letter-spacing-16, font-size-18,line-height-18,letter-spacing-18 from '../constants/typography.css';

@value snb-level from '../constants/z-index.css';

.floating {
  position: absolute;
}

.article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2.4rem 0;
  height: calc(100vh - 60px);
  background-color: white;
  z-index: snb-level;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navGroup {
  width: 100%;
}

.snbItemButton {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  font-size: font-size-16;
  line-height: line-height-16;
  letter-spacing: letter-spacing-16;
  color: secondary;
  border-radius: 0.4rem;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.snbItemButton.isDisable {
  cursor: not-allowed;
}

.snbItemButton:not(.isDisable).isActive,
.snbItemButton:not(.isDisable):hover {
  background-color: background;
  color: primary;
}

.snbItemButton svg {
  width: 2.4rem;
  height: 2.4rem;
  pointer-events: none;
}

.footer {
  position: absolute;
  bottom: 2.4rem;
  left: 0;
  width: 100%;
  padding: 0 1.4rem;
}

.loginBtn {
  width: 100%;
  height: 6rem;
  font-size: font-size-16;
  line-height: line-height-16;
  letter-spacing: letter-spacing-16;
}

.detailList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.2rem;
}

.detailItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.detailItem dd,
.detailItem button {
  font-size: font-size-12;
  line-height: line-height-12;
  letter-spacing: letter-spacing-12;
  color: secondary;
}

.detailItem button:active {
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .header {
    justify-content: flex-start;
  }

  .logo {
    margin-bottom: 3.6rem;
  }

  .logo a {
    display: block;
  }

  .logo img {
    width: 10em;
    height: auto;
  }

  .snbItemButton {
    flex-direction: row;
    justify-content: flex-start;
    height: 6rem;
    font-weight: 700;
  }

  .snbItemButton svg {
    margin-right: 1.2rem;
  }

  .loginBtn {
    font-size: font-size-18;
    line-height: line-height-18;
    letter-spacing: letter-spacing-18;
  }

  .detailList {
    flex-direction: row;
  }

  .detailItem button:hover {
    text-decoration: underline;
  }

  .detailItem:not(:last-child)::after {
    margin: 0 0.4rem;
    color: secondary;
    content: '|';
  }
}

/* NOTE: dark theme */
.article.isDark {
  background-color: dark-background;
}

.article.isDark .snbItemButton {
  color: dark-secondary;
}

.article.isDark .snbItemButton:not(.isDisable).isActive,
.article.isDark .snbItemButton:not(.isDisable):hover {
  background-color: dark-light-background;
  color: dark-primary;
}

.article.isDark .detailItem dd,
.article.isDark .detailItem button {
  color: dark-secondary;
}

.article.isDark .detailItem:not(:last-child)::after {
  color: dark-secondary;
}
